<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin is-opensource="true">
   <extension     point="org.eclipse.ui.newWizards">
   
      </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tomcat"
            class="com.sysdeo.eclipse.tomcat.TomcatProjectPropertyPage"
            id="com.sysdeo.eclipse.tomcat.TomcatProjectPropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
       <!--项目视图-->
   <extension point="org.eclipse.ui.views">
      <category
            name="Studio"
            id="x5viewer">
      </category>
      <view
            category="x5viewer"
            class="com.justep.studio.ui.views.ResourceExplorerPart"
            icon="icons/studio_resource_view.gif"
            id="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart"
            name="模型资源">
      </view>

      <view
            category="x5viewer"
            class="com.justep.studio.ui.views.ProblemsView"
            icon="icons/error.png"
            id="com.justep.studio.ui.views.ProblemsView"
            name="模型问题">
      </view>
<!--       <view -->
<!--             category="x5viewer" -->
<!--             class="com.justep.studio.ui.views.ModuleReferenceHierarchyView" -->
<!--             icon="icons/refer_hierarchy.gif" -->
<!--             id="com.justep.studio.ui.views.ModuleReferenceHierarchyView" -->
<!--             name="模块引用层次"> -->
<!--       </view> -->
<!--       <view -->
<!--             category="x5viewer" -->
<!--             class="com.justep.studio.ui.views.RelationReferenceHierarchyView" -->
<!--             icon="icons/xui_icons/relation.gif" -->
<!--             id="com.justep.studio.ui.views.RelationReferenceHierarchyView" -->
<!--             name="关系引用"> -->
<!--       </view> -->
  
      <!--
      <view
            name="X5模型视图1"
            icon="icons/shape_group.png"
            category="x5viewer"
            class="com.justep.studio.views.ProjectView"
            id="com.justep.studio.views.ProjectView">
      </view>
      -->
   </extension>

     <!--X5项目透视图-->
    <extension point="org.eclipse.ui.perspectives">
    <!-- <perspective
       name="X5 Studio透视图"
       icon="icons/shape_group.png"
       class="com.justep.studio.views.X5Perspective"
       id="com.justep.studio.views.X5Perspective">
     </perspective>
     -->
     <perspective
           class="com.justep.studio.StudioPerspectiveFactory"
           icon="icons/studio.gif"
           id="com.justep.studio.ui.StudioPerspectiveFactory"
           name="Studio">
     </perspective>
   </extension>
    <!--ActionSet扩展，主要用于工具栏，菜单命令的扩展-->
      <extension  point="org.eclipse.ui.actionSets">

      <!--
      <actionSet label="x5 Action Set" visible="true" id="com.justep.studio.actionSet">
         <menu  label="内置服务器" id="x5Menu">
            <separator name="x5Group"/>
         </menu>
         <action
               label="新建工程"
               icon="icons/transmit_blue.png"
               class="com.justep.studio.actionSet.NewProjectAction"
               tooltip="新建X5项目"
               menubarPath="x5Menu/x5Group"
               toolbarPath="x5Group"
               id="com.justep.studio.actionSet.ProjectActionSet">
         </action>  toolbarPath="x5Group"


         <action
               class="com.justep.studio.ui.views.action.StopServerAction"
               icon="icons/terminate_inside.gif"
               id="com.justep.studio.actionSet.StopServerAction"
               label="停止内置服务器"
               menubarPath="x5Menu/x5Group"
               tooltip="停止内置服务器">
         </action>

         <action
               class="com.justep.studio.ui.views.action.StartServerAction"
               icon="icons/startup_inside.gif"
               id="com.justep.studio.actionSet.StartServerAction"
               label="启动内置服务器"
               menubarPath="x5Menu/x5Group"
               tooltip="启动内置服务器">
         </action>  -->
          <!---->
        <!-- <action
               class="com.justep.studio.actionSet.NewSubModuleAction"
               icon="icons/database_lightning.png"
               id="com.justep.studio.actionSet.NewSubModuleAction"
               label="新建目录"
               menubarPath="x5Menu/X5Group2"
               toolbarPath="x5Group"
               tooltip="新建目录">
         </action>
         <action
               class="com.justep.studio.actionSet.NewModuleAction"
               icon="icons/database_lightning.png"
               id="com.justep.studio.actionSet.NewModuleAction"
               label="新建模块"
               menubarPath="x5Menu/X5Group2"
               toolbarPath="x5Group"
               tooltip="新建模块">
         </action>
         <action
               label="新建模型"
               icon="icons/database_lightning.png"
               class="com.justep.studio.actionSet.NewX5ModelAction"
               tooltip="新建模型"
               menubarPath="x5Menu/X5Group2"
               toolbarPath="x5Group"
               id="com.justep.studio.actionSet.NewX5ModelAction">
         </action>
         -->
         <!--
         <action
               class="com.justep.studio.actionSet.NewFileAction"
               icon="icons/folder_add.png"
               id="com.justep.studio.actionSet.NewFileAction"
               label="新建文件"
               menubarPath="x5Menu/X5Group2"
               toolbarPath="x5Group"
               tooltip="新建文件">
         </action>


      </actionSet> -->

		<actionSet label="Tomcat" visible="true"
			id="com_sysdeo_eclipse_tomcat_actionSet">
			<!--
			<menu label="%menu.label" id="com.sysdeo.eclipse.tomcat.menu">
				<separator name="group">
				</separator>
			</menu>
			-->
			<action label="%menu.restart.label" icon="icons/restart.gif"
				tooltip="%menu.restart.label"
				   class="com.sysdeo.eclipse.tomcat.actions.RestartActionDelegate"

				toolbarPath="Normal/additions"
				id="com.sysdeo.eclipse.tomcat.restart">
			</action>
			<action label="%menu.stop.label" icon="icons/stop.gif"
				tooltip="%menu.stop.label"
				class="com.sysdeo.eclipse.tomcat.actions.StopActionDelegate"

				toolbarPath="Normal/additions"
				id="com.sysdeo.eclipse.tomcat.stop">
			</action>
			<action label="%menu.start.label" icon="icons/start.gif"
				tooltip="%menu.start.label"
				class="com.sysdeo.eclipse.tomcat.actions.StartActionDelegate"

				toolbarPath="Normal/additions"
				id="com.sysdeo.eclipse.tomcat.start">
			</action>
			
 
		</actionSet>


		<actionSet label="ripple" visible="true"
			id="com_sysdeo_eclipse_tomcat_actionSet1">
		 
			
			<action label="%menu.start.label" icon="icons/startEmulator.png"
				tooltip="模拟运行"
				class="com.justep.studio.ui.views.action.StartMobileEmulator"

				toolbarPath="Normal/additions"
				id="com.justep.studio.ui.views.action.StartMobileEmulator">
			</action>
			
<!-- 			<action label="%menu.start.label" icon="icons/package.png" -->
<!-- 				tooltip="生成app包" -->
<!-- 				class="com.justep.studio.ui.views.action.GenaAppAction" -->

<!-- 				toolbarPath="Normal/additions" -->
<!-- 				id="com.justep.studio.ui.views.action.GenaAppAction"> -->
<!-- 			</action> -->
		</actionSet>
   </extension>
    <!--属性页扩展，属性页用于对系统进行相应的设置-->
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.justep.studio.preference.X5PreferencePage"
            id="com.justep.studio.preferences.X5PreferencePage"
            name="Studio配置"/>
      <!--<page
            name="x5项目的相关设置二"
            class="com.justep.studio.preferences.X5PreferencePage2"
            id="com.justep.studio.preferences.X5PreferencePage2"
            category="com.justep.studio.preferences.X5PreferencePage"
            />
      <page
            name="x5项目的相关设置三"
            class="com.justep.studio.preferences.X5PreferencePage3"
            id="com.justep.studio.preferences.X5PreferencePage3"
            category="com.justep.studio.preferences.X5PreferencePage"
            />
     -->
   </extension>
  <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Tomcat"
            class="com.sysdeo.eclipse.tomcat.TomcatFullPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page1"
            category="com.justep.studio.preferences.X5PreferencePage">
      </page>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.jvmSettings.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="com.sysdeo.eclipse.tomcat.TomcatJVMPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.sourcepath.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="com.sysdeo.eclipse.tomcat.TomcatSourcePathPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page3">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.managerapp.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="com.sysdeo.eclipse.tomcat.TomcatManagerAppPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page4">
      </page>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.advanced.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="com.sysdeo.eclipse.tomcat.AdvancedPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page5">
      </page>
   </extension>
   
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="新建"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="com.sysdeo.eclipse.tomcat.TomcatFullPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page6">
      </page>
   </extension>
   </extension>
   -->
   
   <!--
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="x5viewer.contribution1"
             nameFilter="*.txt"
             objectClass="org.eclipse.core.resources.IFile">
          <menu
                id="x5PopupMenu.menu"
                label="菜单"
                path="additions">
          </menu>
          <action
                class="com.justep.studio.popupMenu.CreatSql"
                enablesFor="1"
                id="x5viewer.newAction"
                label="文件转换"
                menubarPath="x5PopupMenu.menu">
          </action>
       </objectContribution>
    </extension>-->
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="com.justep.studio.ui.editors.PlmInfoModelEditor"
             contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
             default="true"
             extensions="ontology.m,ontology.plm"
             icon="icons/O.gif"
             id="com.justep.studio.ui.editors.PlmInfoModelEditor"
             name="本体设计器">
       </editor>
        <editor
             class="com.justep.studio.ui.editors.MappingEditor"
             contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
             default="true"
             extensions="mapping.m"
             icon="icons/M.gif"
             id="com.justep.studio.ui.editors.MappingEditor"
             name="映射设计器">
       </editor>
        <editor
             class="com.justep.studio.ui.editors.MenuConfigEditor"
             contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
             default="true"
             extensions="function.xml"
             icon="icons/M.gif"
             id="com.justep.studio.ui.editors.MenuConfigEditor"
             name="功能树设计器">
       </editor>
       <editor
             class="com.justep.studio.ui.editors.WidgetConfigEditor"
             contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
             default="true"
             extensions="widget.xml"
             icon="icons/D.gif"
             id="com.justep.studio.ui.editors.WidgetConfigEditor"
             name="组件设计器">
       </editor>
       <editor
             class="com.justep.studio.ui.editors.WelcomeEditorPart"
             
             default="true"
             extensions="welcome"
             icon="icons/studio.gif"
             id="com.justep.studio.ui.editors.WelcomeEditorPart"
             name="欢迎页">
         </editor>
       <editor
             class="com.justep.studio.ui.editors.ApiEditorPart"
             default="true"
             extensions="help"
             icon="icons/studio.gif"
             id="com.justep.studio.ui.editors.ApiEditorPart"
             name="API文档">
         </editor>
      <!-- <editor
            name="Simple Excel Editor"
            extensions="xls"
            icon="icons/window.gif"
            contributorClass="jp.sourceforge.excel.plugin.ExcelEditorContributor"
            class="jp.sourceforge.excel.plugin.ExcelEditor"
            id="jp.sourceforge.excel.plugin.ExcelEditor">
      </editor>
      -->
      <editor
      		class="com.justep.studio.ui.editors.IncludeUseEditor"
      		contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
      		default="true"
      		filenames="model.config.xml"
      		icon="icons/I.gif"
      		id="com.justep.studio.ui.editors.IncludeUseEditor"
      		name="模型引用设计器">
      </editor>
      <editor
      		class="com.justep.studio.ui.editors.ActionEditor"
      		contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
      		default="true"
      		extensions="action.plm,action.m"
      		icon="icons/A.gif"
      		id="com.justep.studio.ui.editors.ActionEditor"
      		name="动作设计器">
      </editor>
       <editor
      		class="com.justep.studio.ui.editors.FnEditor"
      		contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
      		default="true"
      		extensions="fn.m"
      		icon="icons/F.gif"
      		id="com.justep.studio.ui.editors.FnEditor"
      		name="Fn设计器">
      </editor>
       <editor
      		class="com.justep.studio.ui.editors.ExtAttrEditor"
      		contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
      		default="true"
      		extensions="ext.xml"
      		icon="icons/doc.gif"
      		id="com.justep.studio.ui.editors.ExtAttrEditor"
      		name="扩展属性设计器">
      </editor>
      <editor
            class="com.justep.ui.editors.process.ProcessMutiPageEditorPart"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="process.plm,process.m,template.m"
            icon="icons/P.gif"
            id="com.justep.ui.editors.process.ProcessMutiPageEditorPart2"
            name="流程设计器">
      </editor>
      <editor
            class="com.justep.studio.ui.editors.JFileMutiPageEditorPart"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="j"
            icon="icons/jsDoc.gif"
            id="com.justep.studio.ui.editors.JFileMutiPageEditorPart"
            name="J文件编辑器">
      </editor>
      <editor
            class="com.justep.studio.ui.editors.XuiMutiPageEditorPart"
         	contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="w,window"
            icon="icons/U.gif"
            id="com.justep.studio.ui.editors.XuiMutiPageEditorPart"
            name="xui设计器">
      </editor>
     <!-- <editor
            class="com.justep.studio.ui.editors.XmlEditor"
            contributorClass="org.eclipse.wst.html.ui.internal.edit.ui.ActionContributorHTML"
            default="false"
            extensions="xui,xml,xpl,xhtml,w,p,window"
            icon="icons/UI.gif"
            id="com.justep.studio.ui.editors.XmlEditor"
            name="xml源码编辑器">
         <contentTypeBinding
               contentTypeId="com.justep.studio.xml.source">
         </contentTypeBinding>
      </editor>-->
     <editor
      		name="css源码编辑器"
            class="com.justep.studio.ui.editors.CssEditor"
            contributorClass="org.eclipse.wst.css.ui.internal.ActionContributorCSS"
            default="true"
            extensions="css"
            icon="icons/Css.gif"
            id="com.justep.studio.ui.editors.CssEditor">
      </editor>
     <editor
            class="com.justep.studio.ui.editors.OleEditor"
            default="false"
            extensions="xls,xlsx"
            icon="icons/window.gif"
            id="com.justep.studio.ui.editors.ExcelEditor"
            name="Excel编辑器">
      </editor> 
    </extension>

   <extension
         id="tomcatnature"
         name="Tomcat Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.sysdeo.eclipse.tomcat.TomcatProject">
         </run>
      </runtime>
   </extension>
   <extension
         id="StudioStartup2"
         name="StudioStartup"
         point="org.eclipse.ui.startup">
      <startup
            class="com.justep.studio.StudioStartup">
      </startup>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.justep.studio.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="x5model"
            categoryId="x5model"
            description="编译业务模型"
            id="x5.biz.model.compile.command"
            name="业务模型编译">
      </command>
      <command
            category="x5model"
            categoryId="x5model"
            description="检查业务模型"
            id="x5.biz.model.check.command"
            name="业务模型检查">
      </command>
      <category
            id="x5model"
            name="业务模型">
      </category>
      <command
            description="编译xui模型"
            id="x5.xui.compile.command"
            name="xui模型编译">
      </command>
      <command
            description="编译xui窗体"
            id="x5.xui.window.compile.command"
            name="xui窗体编译">
      </command>
      <command
            description="检查xui模型"
            id="x5.xui.check.command"
            name="xui模型检查">
      </command>
      <command
            description="模块前后台切换"
            id="com.justep.studio.action.UiBizModuleJumpAction"
            name="模块前后台切换">
      </command>
      <command
            description="模块前后台切换"
            id="com.justep.studio.action.MobileUIModelJumpAction"
            name="模块前后台切换">
      </command>
      <command
            description="模块资源切换"
            id="com.justep.studio.action.SrcModuleJumpAction"
            name="模块资源切换">
      </command>
      <command
            description="模块引用层次"
            id="com.justep.studio.action.ModuleReferHierarchyAction"
            name="模块引用层次">
      </command>
      <command
            description="刷新"
            id="com.justep.studio.action.RefreshAction"
            name="刷新">
      </command>
      <command
            id="com.justep.studio.ui.views.action.OpenApiHandler"
            name="API文档(I)">
      </command>
      
      <command
            id="com.justep.studio.ui.views.action.OpenBBSHandler"
            name="X5论坛(L)">
      </command>
      <command
            id="com.justep.studio.ui.views.action.OpenKnowledgeIndexHandler"
            name="知识索引(K)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="x5.biz.model.compile.command"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+B">
      </key>
      <key
            commandId="x5.biz.model.check.command"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+B">
      </key>
      <key
            commandId="x5.xui.compile.command"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+U">
      </key>
      <key
            commandId="x5.xui.window.compile.command"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+W">
      </key>
      <key
            commandId="x5.xui.check.command"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+U">
      </key>
      <key
            commandId="com.justep.studio.action.UiBizModuleJumpAction"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+J">
      </key>
       <key
            commandId="com.justep.studio.action.MobileUIModelJumpAction"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+K">
      </key>
      <key
            commandId="com.justep.studio.action.ModuleReferHierarchyAction"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M">
      </key>
      <key
            commandId="com.justep.studio.action.RefreshAction"
            contextId="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart.context"
            name="xui模型"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
<!--    <extension -->
<!--          point="org.eclipse.ui.preferencePages"> -->
<!--       <page -->
<!--             category="com.justep.studio.preferences.X5PreferencePage" -->
<!--             class="com.justep.studio.preference.X5DatasourcePreferencePage" -->
<!--             id="com.justep.studio.preferences.datasourcePreferencePage" -->
<!--             name="数据源"> -->
<!--       </page> -->
      
<!--    </extension> -->
  <!-- <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.X5JSLibraryPreferencePage"
            id="com.justep.studio.preferences.jsLibraryPreferencePage"
            name="JS库">
      </page>
   </extension>
   -->
<!--    <extension -->
<!--          point="org.eclipse.ui.preferencePages"> -->
<!--       <page -->
<!--             category="com.justep.studio.preferences.X5PreferencePage" -->
<!--             class="com.justep.studio.preference.RuntimeLogConfigPreferencePage" -->
<!--             id="com.justep.studio.preferences.RuntimeLogConfigPreferencePage" -->
<!--             name="运行时日志配置"> -->
<!--       </page> -->
<!--    </extension> -->
   <!--
   <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.X5DocumentPreferencePage"
            id="com.justep.studio.preferences.documentePreferencePage"
            name="文档服务">
      </page>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.InsideServerPreference"
            id="com.justep.studio.preferences。InsideServerPreference"
            name="内置服务器配置">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.CompilerPreference"
            id="com.justep.studio.preference.CompilerPreference"
            name="[7]编译器配置">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.UiServerPreference"
            id="com.justep.studio.preference.UiServerPreference"
            name="[3]UI服务器">
      </page>
   </extension>
   -->
   <extension
         name="X5 Studio帮助"
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         name="X5Studio上下文帮助"
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml"
            plugin="com.justep.studio">
      </contexts>
   </extension>
	
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xui,window,xpl,xhtml,w,p,m"
            id="com.justep.studio.xml.source"
            name="x5.xml内容类型"
            priority="normal">
      </content-type>
      <file-association
            content-type="com.justep.studio.xml.source"
            file-extensions="xui,window,xpl,xhtml,w,p,m">
      </file-association>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.X5ReportServerPreferencePage"
            id="com.justep.studio.preference.ReportPreference"
            name="[4]报表服务器">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.X5EditorPreferencePage"
            id="com.justep.studio.preference.EditorPreference"
            name="编辑器">
      </page>
   </extension>
   -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.justep.studio.preference.config.EditorPreferenceInitializer">
      </initializer>
   </extension>
  <!-- <extension
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.X5ServerPreferencePage"
            id="com.justep.studio.preference.ServerPreference"
            name="服务器">
      </page>
   </extension>
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.justep.studio.preferences.X5PreferencePage"
            class="com.justep.studio.preference.PortalPreference"
            id="com.justep.studio.preference.PortalPreference"
            name="[3]Portal服务器">
      </page>
   </extension>-->
   <extension
         point="org.eclipse.team.core.ignore">
        <ignore pattern=".cache" enabled="true"/>
        <ignore pattern="classes" enabled="true"/>
        <ignore pattern="dclasses" enabled="true"/>
     	<ignore pattern="*.view_zh_CN" enabled="true"/>
     	<ignore pattern="*.xforms_zh_CN" enabled="true"/>	
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
        <!-- add shortcuts to Studio perspective -->
        <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         	<perspectiveShortcut id="com.justep.studio.ui.StudioPerspectiveFactory"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="zigen.plugin.db.PerspectiveFactory">
         	<perspectiveShortcut id="com.justep.studio.ui.StudioPerspectiveFactory"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="org.tigris.subversion.subclipse.ui.svnPerspective">
         	<perspectiveShortcut id="com.justep.studio.ui.StudioPerspectiveFactory"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         	<perspectiveShortcut id="com.justep.studio.ui.StudioPerspectiveFactory"/>
      	</perspectiveExtension>
      	
      	<!-- add shortcuts from Studio perspective -->
      	<perspectiveExtension targetID="com.justep.studio.ui.StudioPerspectiveFactory">
         	<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="com.justep.studio.ui.StudioPerspectiveFactory">
         	<perspectiveShortcut id="zigen.plugin.db.PerspectiveFactory"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="com.justep.studio.ui.StudioPerspectiveFactory">
         	<perspectiveShortcut id="org.tigris.subversion.subclipse.ui.svnPerspective"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="com.justep.studio.ui.StudioPerspectiveFactory">
         	<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
      	</perspectiveExtension>
      	
      	<!-- add shortcuts to java perspective -->
      	<perspectiveExtension targetID="zigen.plugin.db.PerspectiveFactory">
         	<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="org.tigris.subversion.subclipse.ui.svnPerspective">
         	<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
      	</perspectiveExtension>
      	
      	<!-- add shortcuts to db perspective -->
      	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         	<perspectiveShortcut id="zigen.plugin.db.PerspectiveFactory"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="org.tigris.subversion.subclipse.ui.svnPerspective">
         	<perspectiveShortcut id="zigen.plugin.db.PerspectiveFactory"/>
      	</perspectiveExtension>
      	
      	<!-- add shortcuts to svn perspective -->
      	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         	<perspectiveShortcut id="org.tigris.subversion.subclipse.ui.svnPerspective"/>
      	</perspectiveExtension>
      	<perspectiveExtension targetID="zigen.plugin.db.PerspectiveFactory">
         	<perspectiveShortcut id="org.tigris.subversion.subclipse.ui.svnPerspective"/>
      	</perspectiveExtension>
      	
      	<!-- add view shortcuts to Studio perspective -->
      	<perspectiveExtension targetID="com.justep.studio.ui.StudioPerspectiveFactory">
      		<viewShortcut id="com.justep.studio.ui.views.ProblemsView"/>
      		<viewShortcut id="com.justep.studio.ui.views.ModuleReferenceHierarchyView"/>
      		<viewShortcut id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"/>
        </perspectiveExtension>	
      	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
      		<viewShortcut id="com.justep.studio.ui.views.ProblemsView"/>
      		<viewShortcut id="com.justep.studio.ui.views.ModuleReferenceHierarchyView"/>
      		<viewShortcut id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"/>
      		<viewShortcut id="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart"/>
        </perspectiveExtension>	
        <perspectiveExtension targetID="zigen.plugin.db.PerspectiveFactory">
      		<viewShortcut id="com.justep.studio.ui.views.ProblemsView"/>
      		<viewShortcut id="com.justep.studio.ui.views.ModuleReferenceHierarchyView"/>
      		<viewShortcut id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"/>
      		<viewShortcut id="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart"/>
        </perspectiveExtension>
        <perspectiveExtension targetID="org.tigris.subversion.subclipse.ui.svnPerspective">
      		<viewShortcut id="com.justep.studio.ui.views.ProblemsView"/>
      		<viewShortcut id="com.justep.studio.ui.views.ModuleReferenceHierarchyView"/>
      		<viewShortcut id="com.justep.studio.internal.ui.resourceview.ResourceExplorerPart"/>
        </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
        <renameParticipant id="com.justep.studio.ui.refactoring.UIJFileRenameParticipant" 
        	class="com.justep.studio.ui.refactoring.UIJFileRenameParticipant" name="J文件重命名"> 
         	<enablement>
         		<with variable="affectedNatures">
			        <iterate operator="or">
			          <equals value="org.eclipse.jdt.core.javanature"/>
			        </iterate>
			    </with>
			    <with variable="element">
			        <instanceof value="org.eclipse.core.resources.IFile"/>
			    </with>
    		</enablement>
        </renameParticipant>
    </extension>
    
    <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
        <renameParticipant id="com.justep.studio.ui.refactoring.OntologyFileRenameParticipant" 
        	class="com.justep.studio.ui.refactoring.OntologyFileRenameParticipant" name="Ontology文件重命名"> 
         	<enablement>
         		<with variable="affectedNatures"> 
			        <iterate operator="or">
			          <equals value="org.eclipse.jdt.core.javanature"/>
			        </iterate>
			    </with>
			    <with variable="element">
			        <instanceof value="org.eclipse.core.resources.IFile"/>
			    </with>
    		</enablement>
        </renameParticipant>
    </extension>
    
    
        <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
        <renameParticipant id="com.justep.studio.ui.refactoring.OntologyFileRenameParticipant" 
        	class="com.justep.studio.ui.refactoring.ModelRenameParticipant" name="模块重命名"> 
         	<enablement>
         		<with variable="affectedNatures"> 
			        <iterate operator="or">
			          <equals value="org.eclipse.jdt.core.javanature"/>
			        </iterate>
			    </with>
			    <with variable="element">
			        <instanceof value="org.eclipse.core.resources.IFolder"/>
			    </with>
    		</enablement>
        </renameParticipant>
    </extension>
    
    <!--模板视图相关-->
    <!-- 
    <extension
         point="org.eclipse.ui.views">

      <view
            name="模板"
            class="com.justep.studio.common.template.views.CommonTemplateView"
            category="x5viewer"
            icon="icons/templates.gif"
            id="com.justep.studio.common.template.views.CommonTemplateView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.justep.studio.common.template.views.CommonTemplateView">
         </view>
      </perspectiveExtension>
   </extension>
    -->
   
   <!-- 新建菜单配置-->

	<extension point="org.eclipse.ui.newWizards">
		<category name="Studio" id="com.justep.studio.wizard.new" /> 
		
<!-- 		<wizard name="应用" icon="icons/xui_icons/new_app.gif" -->
<!-- 			category="com.justep.studio.wizard.new" -->
<!-- 			id="com.justep.studio.wizard.ApplicationWizard"> -->
<!-- 			<class class="com.justep.studio.wizard.ApplicationWizard"> -->
<!-- 			</class> -->
<!-- 			<description></description> -->
<!-- 		</wizard> -->
	</extension>
	
	<extension
       point="org.eclipse.ui.menus">

     <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
               <menu
                     label="X5(B)"
                     mnemonic="B">  
			     <command
			           commandId="com.justep.studio.ui.views.action.OpenApiHandler"
			           mnemonic="I"
			           style="push">
			     </command>
			     <command
			           commandId="com.justep.studio.ui.views.action.OpenBBSHandler"
			           mnemonic="L"
			           style="push">
			     </command>
        
			  <command
           commandId="com.justep.studio.ui.views.action.OpenKnowledgeIndexHandler"
           mnemonic="K"
           style="pulldown">  
			   </command>
        </menu>
     </menuContribution>
       
 </extension>
  
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.justep.studio.ui.views.action.OpenApiHandler"
          commandId="com.justep.studio.ui.views.action.OpenApiHandler">
    </handler>
    
    <handler
          class="com.justep.studio.ui.views.action.OpenBBSHandler"
          commandId="com.justep.studio.ui.views.action.OpenBBSHandler">
    </handler>
    <handler
          class="com.justep.studio.ui.views.action.OpenKnowledgeIndexHandler"
          commandId="com.justep.studio.ui.views.action.OpenKnowledgeIndexHandler">
    </handler>
 </extension>
 
	<!--
	
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
            class="com.justep.studio.ui.properties.BIZProjectPropertyPage"
            id="com.justep.studio.ui.properties.BIZProjectPropertyPage"
            name="BIZ 工程">
         <enabledWhen>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        args="name"
                        property="com.justep.studio.bizProject.name"
                        value="BIZ">
                  </test>
               </adapt>
         </enabledWhen>
      </page>
 </extension>
 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.justep.studio.ui.properties.BIZProjectPropertyTester"
            id="com.justep.studio.ui.properties.BIZProjectPropertyTester"
            namespace="com.justep.studio.bizProject"
            properties="name"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
	-->
    
</plugin>
